body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  font-family: "Helvetica", "Arial", sans-serif;
  background: #40e0d0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #40e0d0,
    #ff8c00,
    #ff0080
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #40e0d0,
    #ff8c00,
    #ff0080
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#root {
  height: 100vh;
}
